:root {
    --primary-100:#2563eb;
    --primary-200:#598EF3;
    --primary-300:#D3E6FE;
    --accent-100:#d946ef;
    --accent-200:#fae8ff;
    --text-100:#fff;
    --text-200:#cbd5e1;
    --text-300:#94a3b8;
    --bg-100:#1e293b;
    --bg-200:#334155;
    --bg-300: #475569;
  
    /*Fuentes y Tamaños*/
    --bigFontSize: 2.5rem;
    --h1FontSize: 1.5rem;
    --h2FontSize: 1.25rem;
    --h3FontSize: 1rem;
    --normalFontSize: .938rem;
    --smallFontSize: .813rem;
    --smallerFontSize: .75rem;
  }


  .containerGoToShop{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
    background-color: var(--bg-100);
    border-radius: 1rem;
    margin-top: 2rem;
    margin-left: 4rem;
    width: 90%;
  }
  .buyItem{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: var(--text-100);
  }

    .btnGoToShop{
        width: 140px;
        height: 2.5rem;
        border-radius: 1rem;
        border: none;
        background-color: var(--bg-300);
        font-size: var(--h3FontSize);
        color: var(--text-100);
        cursor: pointer;
    }

    .btnGoToShop:hover{
        background-color: var(--accent-100);
    }

    .containerCartFooter{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        margin:2rem 5rem 2rem 5rem;
    }

    .totalPrice{
        font-size: var(--h2FontSize);
        color: var(--text-100);
    }

    .btnPago{
      width: 130px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--bg-300);
      border: none;
      border-radius: 1rem;
      color: var(--text-100);
      font-weight: 600;
      gap: 0.5rem;
      cursor: pointer;
      position: relative;
      overflow: hidden;
      transition-duration: .3s;
    }


    .btnPago::before {
      width: 130px;
      height: 130px;
      position: absolute;
      content: "";
      background-color: var(--accent-100);
      color: var(--text-100);
      border-radius: 50%;
      left: -100%;
      top: 0;
      transition-duration: .3s;
      mix-blend-mode: color;
    }

    .btnPago:hover::before{
        background-color: #d401d4;
        color: var(--text-100);
        transition-duration: .3s;
        transform: translate(100%,-35%);
    }

    .btnPago:active {
      transform: translate(5px,5px);
      transition-duration: .3s;
    }