*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --primary-100:#2563eb;
    --primary-200:#598EF3;
    --primary-300:#D3E6FE;
    --accent-100:#d946ef;
    --accent-200:#fae8ff;
    --text-100:#fff;
    --text-200:#cbd5e1;
    --text-300:#94a3b8;
    --bg-100:#1e293b;
    --bg-200:#334155;
    --bg-300: #475569;
  
    /*Fuentes y Tamaños*/
    --bigFontSize: 2.5rem;
    --h1FontSize: 1.5rem;
    --h2FontSize: 1.25rem;
    --h3FontSize: 1rem;
    --normalFontSize: .938rem;
    --smallFontSize: .813rem;
    --smallerFontSize: .75rem;
  }

  body{
    background-color: var(--bg-200);

  }