:root {
    --primary-100:#2563eb;
    --primary-200:#598EF3;
    --primary-300:#D3E6FE;
    --accent-100:#d946ef;
    --accent-200:#fae8ff;
    --text-100:#fff;
    --text-200:#cbd5e1;
    --text-300:#94a3b8;
    --bg-100:#1e293b;
    --bg-200:#334155;
    --bg-300: #475569;
  
    /*Fuentes y Tamaños*/
    --bigFontSize: 2.5rem;
    --h1FontSize: 1.5rem;
    --h2FontSize: 1.25rem;
    --h3FontSize: 1rem;
    --normalFontSize: .938rem;
    --smallFontSize: .813rem;
    --smallerFontSize: .75rem;
  }

.counter{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.counter button:hover{
    background-color: var(--accent-100);
    color: var(--text-100);
    transition: 0.3s ease;
}

.btnDecrease{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: none;
    background-color: var(--bg-300);
    color: var(--text-100);
    font-size: var(--h3FontSize);
    cursor: pointer;
}

.btnIncrease{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: none;
    background-color: var(--bg-300);
    color: var(--text-100);
    font-size: var(--h3FontSize);
    cursor: pointer;
}

.number{
    font-size: var(--h3FontSize);
    color: var(--text-100);
}

.btnBuy{
    width: 140px;
    height: 2.5rem;
    border-radius: 1rem;
    border: none;
    background-color: var(--bg-300);
    font-size: var(--h3FontSize);
    color: var(--text-100);
    cursor: pointer;
}

.btnBuy button{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    border: none;
    background-color: var(--bg-300);
    font-size: var(--h3FontSize);
    color: var(--text-100);
    cursor: pointer;
}
